<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />  
    <meta name="author" content="Linktuned Team"/>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="alternate" href="" title="Linktuned Blog" type="application/atom+xml" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/html5reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="all"/>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29678351-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="container">
      <div id="content">
      {{ content }}
      </div>
      <div id="sidebar">
        <a href="/" title="Linktuned Blog">
          <img src="/images/blog_logo.png" alt="Linktuned Blog" />
        </a>
        <div id="addthis">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f619f49034df84c"></script>
        <!-- AddThis Button END -->
        </div>
        <div id="rss">
          <a href="/feed.xml">
            <img src="/images/rss.png" alt="RSS Feed"/>
          </a>
          <h3>
            <a href="/feed.xml">Subscribe to Linktuned Blog</a>
          </h3>
        </div>
        <div>
          <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 5,
            interval: 30000,
            width: 280,
            height: 350,
            theme: {
              shell: {
                background: '#e5f9c2',
                color: '#333333'
              },
              tweets: {
                background: '#d7efae',
                color: '#333333',
                links: '#698b2d'
              }
            },
            features: {
              scrollbar: false,                                                               loop: false,
              live: false,
              behavior: 'all' 
            }
          }).render().setUser('linktuned').start();
          </script>
        </div>
      </div>
    </div>
    <div style="clear: both;"/>
    <footer id="footer">
      <div>Powered by <a href="https://github.com/mojombo/Jekyll">jekyll</a></div>
    </footer>
    <a href="http://github.com/magic003"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
  </body>
</html>
